*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}


.capstone {
	background-image: url('./Pro.jpg');
	background-repeat: no-repeat;
    min-height: 100rem;
    background-size: 100%;

}

nav {
   position: fixed;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
    top: 0px;
    bottom: 10px;
    list-style-type: none;
    text-align: right;
    font-weight: bold;
    background-color: white;
}